logs/
**/mapping/
**/report/
**/hierarchy/
!src/main/groovy/com/quadient/migration/example/common/mapping/
!src/main/groovy/com/quadient/migration/example/common/mapping/*.groovy
!src/main/groovy/com/quadient/migration/example/common/report/
!src/main/groovy/com/quadient/migration/example/common/report/*.groovy
deploy/

src/main/resources/active-project-config
src/main/resources/migration-config.toml
src/main/resources/project-config.toml
src/main/resources/*project-config.toml
