name: Unit tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  contents: read
  actions: read
  checks: write

jobs:
  lib-tests:
    timeout-minutes: 30

    name: Lib tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew :migration-library:test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: 'migration-library/build/test-results/test/TEST-*.xml'
          include_passed: true
          detailed_summary: true

  examples-tests:
    timeout-minutes: 30

    name: Examples tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew :migration-examples:test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: 'migration-examples/build/test-results/test/TEST-*.xml'
          include_passed: true
          detailed_summary: true

  wfd-xml-tests:
    timeout-minutes: 30

    name: wfd-xml tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew wfd-xml:wfd-xml-impl:test -PexcludeTests=com/quadient/e2e/ExamplesE2ETest.class

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: 'wfd-xml/impl/build/test-results/test/TEST-*.xml'
          include_passed: true
          detailed_summary: true
